<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django To do App</title>
    </head>

    <body>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                
                {% if not user.is_authenticated %}
                    <li>
                        <a href="/signup">sign Up</a>
                    </li>
                    <li>
                        <a href="/signin">Login</a>
                    </li>
                {% endif %}

                {% if user.is_authenticated %}
                    <li>
                        <a href="/tasks">Tasks</a>
                    </li>
                    <li>
                        <a href="/tasks/create/">Create Task</a>
                    </li>
                    {% if user.is_superuser %}
                        <li>
                            <a href="/admin">Admin</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <h3>
                    User: {{ user }}
                </h3>
            {% endif %}
        </nav>

        {% block content %}

        {% endblock %}

    </body>

</html>