<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django To do App</title>
    </head>

    <body>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                
                {% if not user.is_authenticated %}
                    <li>
                        <a href="{% url 'signup' %}">SignUp</a>
                    </li>
                    <li>
                        <a href="{% url 'signin' %}">Login</a>
                    </li>
                {% endif %}

                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'tasks' %}">Tasks</a>
                    </li>
                    <li>
                        <a href="{% url 'create_task' %}">Create Task</a>
                    </li>
                    <li>
                        <a href="{% url 'tasks_completed' %}">Task completed</a>
                    </li>
                    {% if user.is_superuser %}
                        <li>
                            <a href="/admin">Admin</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <h3>
                    User: {{ user }}
                </h3>
            {% endif %}
        </nav>

        {% block content %}

        {% endblock %}

    </body>

</html>