{% extends 'base.html' %}
{% block content %}
    <h1>Tasks pending</h1>

    <ul>
        {% for task in tasks %}
        <li>
            {% if task.important == True %}
                <strong> {{ task.title }} </strong>
            {% else %}
                <p>{{ task.title }}</p>
            {% endif %}
            <p> Description: {{ task.description }} </p>
            <p>Completed: {{ task.date_completed|date:'M j Y:i' }}</p>
            <a href="{% url 'task_detail' task.id %}">
                View details
            </a>
        </li>
        <br>
        {% endfor %}
    </ul>
{% endblock %}